angular.module('myDemoApp').constant('globalParams', {
    API: "http://127.0.0.1:8001",
    unprotected_states: [
        'offline',
        'register',
        'login',
        'not-found',
        'main-redirect',
        'not-authorized'
    ],
    protected_states: {
        'app': {
            operator: 'OR',
            roles: ['ROLE_USER']
        }
    }
});