angular.module('myDemoApp').constant('globalParams', {
    API: "http://api.demo-app.local/app_dev.php",
    unprotected_states: [
        'login',
        'registration'
    ],
    protected_states: {

    }
});