<md-input-container>
    <label>Folder name</label>
    <input ng-model="$ctrl.folder.name">
</md-input-container>

<md-button class="md-raised" ng-click="$ctrl.addFolder()">&nbsp Add folder &nbsp</md-button>
<md-button class="md-raised md-warn" ng-click="$ctrl.removeFolder()">&nbsp Remove folder &nbsp</md-button>

<md-switch ng-model="areFiltersActive" aria-label="Show allowed types?">
    <span>Show allowed types</span>
</md-switch>

<div class="filters" ng-show="areFiltersActive">
    <span>Allowed types: </span>
    <md-checkbox aria-label="PDF" ng-model="$ctrl.folder.allowed_extensions.pdf">PDF</md-checkbox>
    <md-checkbox aria-label="Photo" ng-model="$ctrl.folder.allowed_extensions.photo">Photo</md-checkbox>
    <md-checkbox aria-label="Spreadsheet" ng-model="$ctrl.folder.allowed_extensions.spreadsheet">Spreadsheet</md-checkbox>
    <md-checkbox aria-label="Doc" ng-model="$ctrl.folder.allowed_extensions.doc">Doc</md-checkbox>
    <md-checkbox aria-label="Video" ng-model="$ctrl.folder.allowed_extensions.video">Video</md-checkbox>
    <md-checkbox aria-label="Audio" ng-model="$ctrl.folder.allowed_extensions.audio">Audio</md-checkbox>
</div>

<div ng-repeat="folder in folder.childrens" class="folders">
    <folder-node folder="folder"></folder-node>
</div>