folder-node:not(.first) {
    padding: 0 2em;
}

folder-node:not(.first) > *:not(md-switch) {
    padding: 0 2em;
}

folder-node form {
    display: inline-block;
}

folder-node md-switch {
    padding-top: 33px;
    display: inline-block;
}

folder-node md-input-container {
    margin: 0;
}