<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myDemoApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myDemoApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myDemoApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myDemoApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Demo app</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast.min.css">
  <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast-animations.min.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div style="padding-top: 30px;">
    <toast></toast>
    <online-header ng-if="isAuthed()"></online-header>
    <offline-header ng-if="!isAuthed()"></offline-header>
    <div class="content" ui-view></div>
  </div>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/ngToast/dist/ngToast.min.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script src="app.js"></script>
  <script src="config/parameters.js"></script>
  <script src="src/services/firewall.js"></script>
  <script src="src/services/authentication-manager.js"></script>
  <script src="src/services/authorization-manager.js"></script>
  <script src="src/pages/partials/offline_header/offline_header.component.js"></script>
  <script src="src/pages/partials/online_header/online_header.component.js"></script>
  <script src="src/pages/login/login.routing.js"></script>
  <script src="src/pages/login/login.controller.js"></script>
  <script src="src/pages/register/register.controller.js"></script>
  <script src="src/pages/register/register.routing.js"></script>
  <script src="src/pages/homepage.routing.js"></script>
  <script src="src/services/register.service.js"></script>
  <script src="src/services/login.service.js"></script>
  <script src="config/config.http.js"></script>

  <!--this file at the end!-->
  <script src="src/pages/base/base.routing.js"></script>
</body>
</html>
