<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="jobsites" >
                <img class="img-responsive" src="/app/src/assets/img/sample-logo.jpg" alt="">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="top-navbar">
                <div class="logout">
                    <a href="" ng-click="$ctrl.logout()">
                        <div class="nav-icon"><img src="/app/src/assets/img/logout.png" alt="Logout" /></div>
                        <span class="visible-xs">Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>sdsdsds
