<div class="container">
    <div class="row">
        <div class="col-xs-12 login-box">

            <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
                <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2><span>Login Form</span></h2>
                        </div>
                    </md-toolbar>
                    <md-card-content>
                        <form name="loginForm">
                            <md-input-container class="md-block">
                                <label>Login</label>
                                <input type="text" name="email" ng-model="user.email" placeholder="login" required=""/>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input type="password" name="password" ng-model="user.password" placeholder="password" required="" md-maxlength="16" ng-enter="loginForm.$valid && logIn()"/>
                            </md-input-container>

                            <md-button class="md-raised" ui-sref="register">&nbsp Register &nbsp</md-button>
                            <md-button ng-disabled="!loginForm.$valid" ng-click="logIn()" class="md-raised md-primary pull-right">&nbsp Login &nbsp</md-button>
                        </form>
                    </md-card-content>
                </md-card>
            </md-content>
        </div>
    </div>
</div>